.container--summary {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100rem;
  padding: 0 3.2rem;
  margin: 20rem auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary {
  /* min-width: 50rem;
  padding: 1rem 2rem; */
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.summaryTitle-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.6rem;
}

.summary-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  border-bottom: 5px solid #fff;
  box-shadow: 0 5px 0 #ffbf0e;
}

.summaryList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--summary {
    /* padding: 2rem 4rem; */
    width: 80%;
    /* display: flex; */
    text-align: center;
}

.summary-edit:link,
.summary-edit:active {
  color: red;
  font-size: 2rem;
  margin-left: auto;
  display: inline-block;
}
