.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: black; */
  backdrop-filter: blur(0.1rem);
  /* opacity: .5;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-inner {
  position: relative;
  padding: 1.2rem 2.4rem;
  width: 100%;
  max-width: 50rem;
  /* background-color: #fdf2e9; */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.overlayTitle-box {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #eee;
  gap: 2rem;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
}

.overlay-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 2rem;
  color: #777;
  cursor: pointer;
}

.overlayList-box {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.overlayList-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.overlayList-container {
  overflow-x: scroll;
}

.overlayList-container::-webkit-scrollbar {
  display: none;
}

.overlay-list {
  list-style: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 1.6rem;
  gap: 2rem;
}

.overlayList-title {
  font-size: 1.6rem;
}

.overlay-list:not(:last-child) {
  margin-bottom: 4rem;
}

.overlayList-item {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 2rem;
  background-color: #fdf2e9;
  border: solid 2px transparent;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.title-help {
  position: fixed;
}

/* .selected {
  border: 2px solid red;
} */

.overlayList-item.selected {
  /* outline: 2px solid #dad4ce; */
  outline: 2px solid #ffd96e;
  /* border: solid 2px #dad4ce; */
}

.btn--overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  margin-top: 2rem;
  /* padding: 6rem; */
}