/* ///////////////////// */
/* Restaurant */
/* ///////////////////// */
.restaurants-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4rem 2rem;
  max-width: 70rem;
  margin: 0 auto;
}

.restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.restaurant:not(:last-child) {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #444;
}

.restaurantImg__box {
  flex-basis: 50%;
  cursor: pointer;
}

.restaurantText__box {
  width: 50%;
}

.restaurant__img {
  border-radius: 12px;
  min-height: 20rem;
  padding: 1rem;
  object-fit: cover;
  transition: all 0.3s;
}

.restaurant__img:hover {
  transform: scale(1.1);
}

/* .restaurantImg__box::after {
  content: "4.3";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateX(-50%, 50%);
  transform: translateX(-50%, 50%);

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  padding: 0.5rem 1rem;
  transform: rotate(90);
} */

/* Restaurant-description */
.restaurant__location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 0.6rem;
}

.location__icon {
  margin-left: -3px;
  display: block;
  width: 2rem;
  height: 2rem;
  color: #f55a5a;
}

.restaurant__name {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.restaurant__link:link,
.restaurant__link:visited {
  text-underline-offset: 2px;
  /* color: #777; */
  color: #311212;
  margin-left: 2rem;
  font-size: 1rem;
  transition: color 0.2s;
}

.restaurant__link:hover,
.restaurant__link:active {
  color: #622424;
}

.restaurant__title {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.restaurant__type {
  font-style: italic;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.restaurant__description {
  font-size: 1.2rem;
  line-height: 1.6;
}
