/*=============== LOGIN ===============*/
.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.login__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.login__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding: 4rem 2rem;
  color: #fff;
  border-radius: 1rem;
  backdrop-filter: blur(16px);
  padding-inline: 3rem;
}
.login__title {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1.6rem;
}
.login__inputs,
.login__box {
  display: grid;
}
.login__inputs {
  row-gap: 1.4rem;
  margin-bottom: 2rem;
}
.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: 0.75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  padding-inline: 3rem;
  border-radius: 4rem;
}
.login__input,
.login__button {
  font-size: 1.6rem;
  border: none;
  /* outline: none; */
}
.login__input {
  width: 100%;
  background: none;
  color: #fff;
  padding-block: 2rem;
}
.login__input::placeholder {
  color: #fff;
}
.login__box i {
  font-size: 2rem;
}
.login__check,
.login__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__check {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
}
.login__check-box {
  column-gap: 0.5rem;
}
.login__check-input {
  width: 1.4rem;
  height: 1.4rem;
  accent-color: #fff;
}
.login__forgot {
  color: #fff;
}
.login__forgot:hover {
  text-decoration: underline;
}
.login__button {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4rem;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  /* background-color: #e67e22; */
  background-color: #45260a;
}
.login__button:hover {
  background-color: #fff;
  color: #555;
}
.login__register {
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.4rem;
}
.login__register a {
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
}
.login__register a:hover {
  text-decoration: underline;
}
.login-icon {
  color: #fff;
}
