.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  gap: 2rem;

  height: 9.6rem;
  padding: 0 3.2rem;
  position: relative;
}

.logo {
  max-width: 24rem;
  max-height: 24rem;
}

.nav-bar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #cf711f;
}

.navbar-link.nav-cta:link,
.navbar-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  /* background-color: #e67e22; */
  background-color: #45260a;
}

.navbar-link.nav-cta:hover,
.navbar-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Sticky Navigation */
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: #fdf2e9;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, .3);
  transition: all .2s;
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .navbarSearch {
    max-width: 60rem;
    /* padding: 1rem; */
  }

  .btn {
    padding: 0.6rem 1.2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .navbar {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* Hide Navigation */
    /* Allows no transitions at all */
    /* display: none; */

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .navbar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .navbar-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .navbar-link:link,
  .navbar-link:visited {
    font-size: 3rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .logo {
    display: none;
  }

  .searchText {
    display: none;
  }
}

@media screen and (min-width: 34em) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 50rem;
    padding-inline: 5rem;
  }
  .login__title {
    margin-bottom: 1.8rem;
  }
}
