.details-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5rem; */
}

/* //////////////////// */
/* DETAILS */
/* //////////////////// */
.section-meals {
  padding: 9.6rem 0;
}

.detail {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.detail:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.detail-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.detail-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.detail-title,
.slot-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.detail-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.detail-attribute,
.slot-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.detail-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.detail-img {
  width: 100%;
}

/* //////////////////// */
/* SLOT */
/* //////////////////// */
.slot {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slotPicker {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 1rem;
  border: 3px solid #ece9e7;
  position: relative;
  border-radius: 5px;
  /* box-shadow: 0 2rem 7rem rgba(0, 0, 0, 0.2); */
  transition: all .3s;
}

.slotPicker:hover {
  border: 3px solid #dad4ce;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.slot-item {
  flex-basis: 100%;
  justify-content: center;
  padding: 1.4rem;
}

.slotPicker > :first-child {
  padding-right: 0;
}

.slot-item:last-child {
  /* border-left: 1px solid #ddd; */
  padding-left: 0;
}

.slot-title {
  font-size: 2.2rem;
  border-bottom: 5px solid #fff;
  box-shadow: 0 5px 0 #ffbf0e;
}

.btn--book {
  margin-top: 3rem;
}

.down-arrow {
  height: 3rem;
  width: 3rem;
  color: #45260a;
}