.navbarSearch {
  height: 5rem;
  background-color: white;
  border: 2px solid #45260a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 70rem;
  background: #fdf2e9;
  border-radius: 7px;
  /* padding: 1rem 1rem 1rem 2rem; */
  padding: 1rem;
}

.navbarSearchItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  font-size: 2.2rem;
}

.navbarSearchItem:first-child {
  flex-basis: 100%;
}

.navbarSearchInput {
  background: #fdf2e9;
  font-size: 2rem;
  border: none;
  width: 100%;
  outline: none;
}

.btn--search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background-color: #e67e22;
  /* padding: .6rem; */
}

.btn--search:hover {
  /* color: #555; */
  background-color: #cf711f;
}
